VITE_PUBLIC_APP_URL=http://localhost:3000
VITE_PUBLIC_BACKEND_URL=http://localhost:8787

DATABASE_URL="postgresql://postgres:Gtav2077@@@@@@db.toblnzcupuqixmcjlgck.supabase.co:5432/postgres"

# Change this to a random string, use `openssl rand -hex 32` to generate a 32 character string
BETTER_AUTH_SECRET=my-better-auth-secret
BETTER_AUTH_URL=http://localhost:3000

COOKIE_DOMAIN="localhost"

# Change to your project's client ID and secret, these work with localhost:8787
GOOGLE_CLIENT_ID=722602504201-8n8je34hr7cfabddv370elqdrn2duuqe.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Upstash/Local Redis Instance
REDIS_URL="https://casual-piranha-24570.upstash.io"
REDIS_TOKEN="AV_6AAIjcDE5N2JhYmNkM2Y2OGU0ZTIyOGI1OGYxNmEyNjdjMTM4OXAxMA"

# Resend API Key
RESEND_API_KEY=re_ADsMUSDU_NcBoTMsn5HFScsMBe1Hxbnab

# OpenAI API Key
OPENAI_API_KEY=
PERPLEXITY_API_KEY=

#AI PROMPT
AI_SYSTEM_PROMPT=""

NODE_ENV="development"

AUTUMN_SECRET_KEY=WJWRMOVfz1lsDu8GfgCOcP7thJvCXJIP

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
